
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/slnx.sqlite-journal
.vs/spell-checker/v15/.suo
.vs/VSWorkspaceState.json
.vs/spell-checker/v16/.suo
__pycache__/Character.cpython-37.pyc
*.pyc
palavras_sample.txt
palavras.txt
palavras_sample_longas.txt
